.not-found{
    width: 100%;
    height: calc(100vh - 60px); /*Tamanho da tela - tamanho do header*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found h1{
    font-size: 120px;
}

.not-found a{
    text-decoration: none;
    background-color: #116feb;
    color: #fff;
    padding: 10px;
    margin-top: 14px;
    transition: 0.8s;
}

.not-found a:hover{
    transform: scale(1.1);
    color: #116feb;
    background-color: #fff;
}